.about-me {
  padding-top: 81px;
  padding-bottom: 76px;
  width: 689px;
  margin-left: auto;

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
  }
}