.about-me {
  padding-bottom: 76px;
  margin-left: auto;
  margin-right: 150px;
  width: 470px;

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: center;
  }
}