.skills {
  padding-top: 55px;
  padding-bottom: 100px;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    color: #fff;
    // opacity: 0.5;
    margin-bottom: 75px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px
  }

  &__icon {
    width: 128px;
    height: 128px;
    fill: #fff;
  }
}