.portfolio__name_marvel {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & svg {
    width: 189px;
    height: 73px;
    fill: #fff;
  }
}

.portfolio__name_ice-cream svg {
  width: 79px;
  height: 86px;
  fill: #fff;
}