@media screen and (min-width: 1200px) {
  .center-container {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }

  .center-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: animate 3s none;
    background-image: url('../images/desktop-line.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -10px right -10px;
    max-width: 1700px;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }
}

@media screen and (min-width: 2600px) {
  .center-container::after {
      height: 120%;
    }
}

@media screen and (min-width: 3000px) {
  .center-container::after {
      height: 80%;
    }
}

@keyframes animate {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}